@import "tailwindcss";

main {
    background-image: url("../../assets/Images/BackGround.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aviso {
    @apply text-center;
}

.formularioJogadores {
    @apply bg-[#79C05A] p-6 rounded-[25px] w-[600px];
}

.formularioJogadores h1 {
    @apply text-[25px] text-center mb-[15px];
}

.formularioJogadores p {
    @apply mb-[15px];
}

.formularioJogadores input {
    @apply w-[100%] h-[35px] border-2 border-black rounded-[5px] pl-0.5 my-[5px] text-[18px] bg-white;
}

.formularioJogadores select {
    @apply my-[5px] bg-white;
}

.botoes {
    @apply flex justify-around items-center mt-[20px];
}

.botoes button {
    @apply rounded-[15px] bg-[#8D6243] w-[150px] h-[35px] pb-[3px] pl-[3px] text-center text-white cursor-pointer hover:bg-[#3C3C3C] hover:text-white;
}